.el-upload-list2 {
    margin: 10px 0;
    padding: 0;

    &__item {
        border: 1px solid #d9d9d9;
        border-radius: 6px;
        padding: 5px;
        margin-bottom: 10px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.is-ready {
            .el-upload-list2__item-thumbnail {
                filter: grayscale(80%);
            }
        }

        &.is-uploading {
            .el-upload-list2__item-thumbnail {
                opacity: .5;
            }
        }

        &.is-success {
            border-color: #65b687;
        }

        &.is-fail {
            border-color: #ff4949;
        }

    }

    .el-progress {
        position: absolute;
        width: 100%;
        left: 0;
        bottom:0;
    }
}

.el-upload-list2__item-thumbnail {
    display: flex;
    align-items: center;

    &-img {
        width: 140px;
        height: 90px;
        background-size: cover;
        background-position: 50% 50%;
        margin-right: 10px;
    }
}